body {
  /*border: 1px solid red;*/
  font-family: raleway, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

h2 {
  border: 1px solid black;
}

a {
  text-decoration: none;
  font-style: italic;
  color: black;
  padding: 0.2rem 0;
}

.content {
  /*border: 1px solid blue;*/
}

.section {
  border: 1px solid green;
}

#about {
  position: fixed;
  top: 50vh;
  left: 0;
  height: 50vh;
  width: 50vw;

  background: tomato;
}

#skills {
  position: fixed;
  top: 0;
  left: 0;
  height: 50vh;
  width: 50vw;

  background: grey;
}

.skillCategory {
  border: 1px solid red;
}

.skillCategory span {
  padding: 0.5rem;
  background: cadetblue;
  border-radius: 0.4rem;
  color: #fff;
}

.skillCategory span:hover {
  background: #111;
}

#experience {
  position: fixed;
  top: 0;
  left: 50vw;
  height: 50vh;
  width: 50vw;
  background: cadetblue;
}

#portfolio {
  position: fixed;
  top: 50vh;
  left: 50vw;
  height: 50vh;
  width: 50vw;

  background: darkgrey;
}

/* Styling the slideshow */

.portfolioOptions {
  border: 1px solid pink;
}

/*Style the slideshow buttons*/
.chooseImage {
  background-color: black;
  color: white;
  border: none;
  padding: 0.5rem;
  margin: 0.5rem 0;
  cursor: pointer;
}

/*Style the slideshow button which indicates the current slide being displayed*/
.currentImage {
  background-color: #55cf80;
  color: #111;
  outline: none;
}

.pSlides {
  border: 1px solid black;
  /*width: 100%;*/
}

.pSlides img {
  /*height: 60rem;*/
  width: 80%;
  height: auto;
}

.pSlideInfo {
  background: black;
  color: white;
}
