body {
  color: #111;
  font-family: "Raleway", sans-serif;
  text-align: center;
  width: 100%;
  margin: 0;
  background-image: url("images/background-pattern.png");
  background-size: 100%;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 24px;
  border-bottom: 2px solid #111;
  display: inline-block;
  padding: 0 1rem 0.2rem;
}

h3 {
  font-size: 16px;
}

header {
  border: 0px solid green;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 20px;
  width: 100%;
  padding: 4px 0 0 0;
  font-size: 12px;
  text-align: center;
  background-color: #111;
  color: #fff;
}

.content {
  border: 0px solid red;
  padding: 0 6rem;
}

.section {
  border: 0px solid blue;
  float: none;
  background: #fff;
  padding: 2rem 1rem;
}

.mySlides {
  border: 1px solid orange;
  height: 50%;
  width: 100%;
  transition: 0.3s;
}

.switchImage, .chooseImage {
  background-color: black;
  color: white;
  border: none;
  padding: 0.5rem;
  margin: 0.5rem 0;
  cursor: pointer;
}

/* only display the first slide when open the page, ie before have chosen which slide to display */
.slides img:not(:first-child) {
    display: none;
}

.currentImage {
  background-color: #55cf80;
  color: #111;
  outline: none;
}

.link {
  border-radius: 50%;
  display: inline-block;
  height: 4rem;
  width: 4rem;
  background-position: 52% 54%;
  margin: 0 1rem;
}

#github {
  background-image: url("images/github-logo.png");
  background-size: 130% auto;
}

#email {
  background-image: url("images/email-logo.png");
  background-size: 100% auto;
}
