body {
  font-family: Raleway, sans-serif; /* set the default font to Raleway */
  color: #111;
}

/*overwrite the default stylings of hyperlinks and list items*/
a {
  text-decoration: none;
  color: #111;
  /*cursor: pointer; >> doesn't seem to be necessary*/
}

li {
  list-style: none;
}

/*Style the landing page*/
header {
  height: 100vh; /* set the landing page to cover the entire window */
  /*set the image for the landing page: */
  background-color: #b27686; /* dark pink (from image): #8C4F5F or lighter version of the dark pink: #b27686 or green: #55cf80 or cadetblue: #5f9ea0 or light cadetblue: #b6d2d3 */
  background-image: url('images/landingPage.jpg');
  background-size: cover;
  background-position: right;
  background-blend-mode: difference; /* difference | multiply darken color-burn hard-light */ /*possibly remove this option (&& change landing page image)*/
  text-align: center;

  position: relative;
  z-index: 99;
}

#pageTitle, #pageStart a {
  color: #fff;
  text-shadow: 2px 2px 4px #111;
}

#pageTitle {
  font-family: 'Lobster', cursive;
  font-size: 8em;
  /*font-weight: bold;*/
  padding: 1em 0;
  line-height: 1.2em;
}

#pageStart {
  /*center the icon horizontally*/
  position: absolute;
  bottom: 5%;
  left: 50%;
  /*use translateX(-50%) to ensure that the middle of the icon is at the midddle of the page*/
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

/*#pageStart a {
  transition: 0.5s;
}*/

#pageStart img {
  height: 5em;
  width: 6em;
  /*set up drop-shadow to enable icon hover highlighting effect*/
  -webkit-filter: drop-shadow(0px 0px 0px rgba(255, 255, 255, 0.8));
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

/*set up icon hover highlighting effect*/
#pageStart img:hover {
  -webkit-filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.8));
}

/*style the website nav bar*/
#topNav {
  background-color: #111;
  height: 4em;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: space-around;
  -ms-align-items: center;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
}

#topNav a {
  color: #fff;
  font-size: 1.5em;
}

/*make the page navigation links turn green when hovered over*/
#pageStart a:hover, #topNav a:hover {
  color: #55cf80;
  transition: 0.5s;
}

            /*///////////////////////////////
            ////////FLEXBOX STRUCTURE////////
            ///////////////////////////////*/


  /* The following will be used for the three columns below: */
  /*order: controls the order in which the items appear within the container > may be different order for smaller screens
  /*flex: flex-grow flex-shrink flex-basis
      flex-grow > (defines ability to grow) dictates the proportion of the available space that the element should occupy > eg if all have '1', they will take up equal space
      flex-shrink > (defines ability to shrink)
      flex-basis > defines the default size of the element, before the remaining space is distributed
          >> flex-shrink & flex-basis are optional*/


/*set up flexbox structure of main page content*/
main {
  /*flexbox container > lay out the three columns next to each other (flexbox row) */
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.column {

}

#leftSidebar {
  order: 1;
  flex: 1;
}

/*main content column*/
#mainColumn {
  order: 2; /* set this column to be between the two side columns */
  flex: 5; /*set this column to take up 5/7 of the horisontal space*/

  /*lay out the content sections within this column to display one after the other (flexbox column)*/
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

#rightSidebar {
  order: 3;
  flex: 1;
}

/*////set up media queries for how the layout will change for smaller screens////*/

/*media queries for screens with a width of 320px - 700px*/
@media (min-width: 320px) and (max-width: 700px) {
  /*change flexbox structure to display the 3 main columns one after the other (flexbox column)*/
  main {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  /*change flexbox structure to display the slide contents (image & project description) one after the other (flexbox column)*/
  #slideshowNav {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  /*remove slideshow feature > instead display all items one after the other (image-description-image-description--etc)*/
  #slideshow .slides:not(:first-child) {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

            /*///////////////////////////////
            ///DONE WITH FLEXBOX STRUCTURE///
            ///////////////////////////////*/



            /*///////////////////////////////
            /////MAIN STRUCTURE STYLINGS/////
            ///////////////////////////////*/

h2 {
  color: #55cf80;
  font-size: 36px;
  text-align: center;
  padding: 2.5em 0 1em 0;
}



            /*///////////////////////////////
            //////////ABOUT SECTION//////////
            ///////////////////////////////*/



#about p {
  margin: 3em 6em;
  text-align: center;
}



            /*///////////////////////////////
            ////////PORTFOLIO SECTION////////
            ///////////////////////////////*/

/*set up the slideshow within the Portfolio section*/
#portfolio {

}

/*//// THE SLIDESHOW NAV BAR////*/
/*style the slideshow nav bar*/
#slideshowNav {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: space-around;
  background-color: #111;
  height: 4em;
}

/*style the buttons within the slideshow nav bar*/
#slideshowNav button {
  width: 12em;
  border: none;
  outline: none; /*remove border and highlights around clicked buttons*/
  cursor: pointer;
  background-color: #111;
  font-size: 1em;
}

/*change font color to show which slide is currently being displayed*/
.chooseImage {
  color: #fff;
}

.currentImage {
  color: #55cf80;
}

/*//// THE SLIDESHOW////*/
.slides {
  /*lay out the slide content (image & project description) to display next to each other (flexbox row) > on smaller screens these will be displayed one after the other (flexbox column)*/
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.slides .slideImg {
  order: 1;
  flex: 3; /*the project images should take up 60% of the slide*/
}

.slides img {
  width: 100%; /*make the images fill their containing div*/
  max-height: 360px; /*ev remove later; aim to make all source img files the same size to avoid having to set this but still have all images be the same height*/
}

.slides .slideInfo {
  order: 2;
  flex: 2; /*the project info should take up 40% of the slide*/
}

/*set to only display the first slide by default (then once have made a different choice in the nav bar, only the chosen slide will be displayed)*/
#slideshow .slides:not(:first-child) {
  display: none;
}

/*style the project descriptions*/
.slideInfo h3 {
  text-align: center;
  font-size: 24px;
  margin: 2em;
}

.slideInfo p {
  margin: 2em;
}

            /*///////////////////////////////
            /////////CONTACT SECTION/////////
            ///////////////////////////////*/

/*set up the contact section*/

/*set up row of hyperlinked icons*/
#contactIcons {
  padding: 1em 0;
  background-color: #111;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: center;
}

.icon {
  height: 2em;
  width: 2em;
  background-size: cover;
  background-position: center;
  display: inline-block;
  position: relative;
  margin: 0 2em;
  /*set up drop-shadow to enable icon hover highlighting effect*/
	-webkit-filter: drop-shadow(0px 0px 0px rgba(255, 255, 255, 0.8));
	-webkit-transition: all 0.1s linear;
	-o-transition: all 0.1s linear;
	transition: all 0.1s linear;
}

/*set up icon hover highlighting effect*/
.icon:hover {
	-webkit-filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.8));
}

/*linking to the relevant icon images*/
#github {
  background-image: url('assets/github.png');
}
#twitter {
  background-image: url('assets/twitter.png');
}
#linkedin {
  background-image: url('assets/linkedin.png');
}
#instagram {
  background-image: url('assets/instagram.png');
}
#message {
  background-image: url('assets/email.png'); /* replace this icon || credit the other icons? did I get them from Michelle's website? */
  /*<div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>*/
}

/*style the footer*/
footer {
  text-align: center;
  height: 1em;
}

/*to remove when done: */
/*main * {
  border: 1px solid purple;
}*/
#leftSidebar, #rightSidebar {
  background-color: rgba(85, 207, 128, 0.1);
}
