body {
  font-family: Raleway, sans-serif; /* set the default font to Raleway */
  color: #111;
}

/*Style the landing page*/
header {
  height: 100vh; /* set the landing page to cover the entire window */
  /*set the image for the landing page: */
  background-image: url('images/placeholder.jpg');
  background-size: cover;
  background-position: center;
}

#pageTitle {

}

#pageStart {

}

#topNav {

}

            /*///////////////////////////////
            ////////FLEXBOX STRUCTURE////////
            ///////////////////////////////*/


  /* The following will be used for the three columns below: */
  /*order: controls the order in which the items appear within the container > may be different order for smaller screens
  /*flex: flex-grow flex-shrink flex-basis
      flex-grow > (defines ability to grow) dictates the proportion of the available space that the element should occupy > eg if all have '1', they will take up equal space
      flex-shrink > (defines ability to shrink)
      flex-basis > defines the default size of the element, before the remaining space is distributed
          >> flex-shrink & flex-basis are optional*/


/*set up flexbox structure of main page content*/
main {
  /*flexbox container > lay out the three columns next to each other (flexbox row) */
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.column {

}

#leftSidebar {
  order: 1;
  flex: 1;
}

/*main content column*/
#mainColumn {
  order: 2; /* set this column to be between the two side columns */
  flex: 5; /*set this column to take up 5/7 of the horisontal space*/

  /*lay out the content sections within this column to display one after the other (flexbox column)*/
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

#rightSidebar {
  order: 3;
  flex: 1;
}

/*////set up media queries for how the layout will change for smaller screens////*/

/*media queries for screens with a width of 320px - 700px*/
@media (min-width: 320px) and (max-width: 700px) {
  /*change flexbox structure to display the 3 main columns one after the other (flexbox column)*/
  main {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  /*remove slideshow feature > instead display all items one after the other (image-description-image-description--etc)*/
}

            /*///////////////////////////////
            ///DONE WITH FLEXBOX STRUCTURE///
            ///////////////////////////////*/

/*set up the slideshow within the Portfolio section*/
#portfolio {

}

/*//// THE SLIDESHOW NAV BAR////*/
/*style the slideshow nav bar*/
#slideshowNav {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: space-around;
  background-color: #111;
}

/*style the buttons within the slideshow nav bar*/
#slideshowNav button {
  width: 12em;
  outline: none; /*remove border and highlights around clicked buttons*/
  cursor: pointer;
  background-color: #111;
}

/*change font color to show which slide is currently being displayed*/
.chooseImage {
  color: #fff;
}

.currentImage {
  color: #55cf80;
}

/*//// THE SLIDESHOW////*/
.slides {
  /*lay out the slide content (image & project description) to display next to each other (flexbox row) > on smaller screens these will be displayed one after the other (flexbox column)*/
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.slides .slideImg {
  order: 1;
  flex: 3; /*the project images should take up 60% of the slide*/
}

.slides img {
  width: 100%; /*make the images fill their containing div*/
}

.slides .slideInfo {
  order: 2;
  flex: 2; /*the project info should take up 40% of the slide*/
}

/*set to only display the first slide by default (then once have made a different choice in the nav bar, only the chosen slide will be displayed)*/
#slideshow .slides:not(:first-child) {
    display: none;
}

/*to remove when done: */
main * {
    border: 1px solid purple;
}
