html
  body
    section.aboutMe.grey
      //- h2 About me
      h1 About me
      p.text.
        I am a full-stack developer with a First Class BSc (Hons) degree in Psychology and an international background in administration and project 
        management. I’m passionate about coding, thrive on new challenges and am always looking for ways to develop and improve my work. </br> </br>
        During Spring 2017, I completed two short courses through <a href='http://www.codefirstgirls.org.uk/' target='_blank'>Code First: Girls</a> 
        (Beginners HTML/CSS Web Development and Advanced Python Web Development), and a short course on Advanced JavaScript at 
        <a href='http://www.city.ac.uk/study/short-courses' target='_blank'>City, University of London</a>. </br> </br>
        I am currently completing an internship as a technologist at <a href='https://madebymany.com/' target='_blank'>Made by Many</a>, where I am 
        building a prototype using Node/Express, Postgres/Sequelizer, Passport.js/bcrypt, ES6 and HTML5/CSS3.
      //- also go into the research, synthesising/mapping and user testing process -- mention that I'm the only developer on the project
      
    section.blank.grey
    section.diagonalUp
      
    section.checklists#aboutLists
      div.checklist
        h2 Countries I've lived in
        h4 Sweden
        h4 The United States
        h4 The United Kingdom
      div.checklist
        h2 Languages I speak
        h4 Swedish
        h4 English
      div.checklist
        h2 Organisations I like
        //- h4 codebar
        //- h4 Node Girls London
        //- h4 Code First: Girls
        h4 <a href='https://codebar.io/' target='_blank'>codebar</a>
        h4 <a href='http://nodegirls.io/' target='_blank'>Node Girls London</a>
        h4 <a href='http://www.codefirstgirls.org.uk/' target='_blank'>Code First: Girls</a>
    
    section.blank.diagonalDown
