html
  body
    section.checklists#aboutLists
      div.checklist
        h2 Countries I've lived in
        h4 Sweden
        h4 The United States
        h4 The United Kingdom
      div.checklist
        h2 Languages I speak
        h4 Swedish
        h4 English
      div.checklist
        h2 Places I've travelled
        h4 Europe
        h4 Asia
        h4 The United States
