html
  body
    section#contact
      h1 Contact
      div#icons
        a(href='/')
          div.icon#email
        a(href='/')
          div.icon#github
        a(href='/')
          div.icon#linkedin
