html
  body
    section#contact
      h1 Contact
      div#icons
        a(href='mailto:madeleinelinder@hotmail.com')
          div.icon#email
        a(href='https://github.com/madeleinel')
          div.icon#github
        a(href='https://uk.linkedin.com/in/madeleinelinder')
          div.icon#linkedin
        a(href='https://twitter.com/Muddiqe')
          div.icon#twitter
