html
  body
    section.diagonalDown
    section.checklists.grey#experienceLists
      div.checklist
        h2 Work experience
        h4 Made by Many
        h4 Reprieve
      div.checklist
        h2 Volunteering
        h4 Coaching JavaScript at </br> Node Girls London
      div.checklist
        h2 Non-coding experience
        h4 EEA
        h4 Keatons
        h4 Sola Kitchens
    section.diagonalUp
