html
  body
    section#justForFun
      h1 Just for fun
      div.content
        div.funExample
          img.miniScreen(src='/assets/clock.png', alt='Portfolio example image 1')
          h4 Clock
          p Clock with ability to customise the colour scheme
        div.funExample
          img.miniScreen(src='/assets/ourStory.png', alt='Portfolio example image 1')
          h4 Our Story
          p Our Story; a website created to promote a positive narrative of immigration in the UK
        div.funExample
          img.miniScreen(src='/assets/womentor.png', alt='Portfolio example image 1')
          h4 WTT
          p Mini example 3 here
      div.content
        div.funExample
          img.miniScreen(src='/assets/clock.png', alt='Portfolio example image 1')
          h4 Clock
          p Clock with ability to customise the colour scheme
        div.funExample
          img.miniScreen(src='/assets/ourStory.png', alt='Portfolio example image 1')
          h4 Our Story
          p Our Story; a website created to promote a positive narrative of immigration in the UK
        div.funExample
          img.miniScreen(src='/assets/womentor.png', alt='Portfolio example image 1')
          h4 WTT
          p Mini example 3 here
