html
  body
    section#justForFun
      h1 Just for fun
      div.content
        div.funExample
          img.miniScreen(src='/assets/clock.png', alt='Portfolio example image 1')
          h4 Clock
          p.
            Clock with ability to customise the colour scheme </p>
            Built with ES6, HTML5 and CSS3
        div.funExample
          img.miniScreen(src='/assets/ourStory.png', alt='Portfolio example image 1')
          h4 Our Story
          p.
            Our Story; a website created to promote a positive narrative of immigration in the UK </br>
            Built using HTML5, CSS3, Bootstrap and jQuery
        div.funExample
          img.miniScreen(src='/assets/coming_soon.png', alt='Portfolio example image 1')
          h4 Coming soon
          p Watch this space
