html
  body
    //- nav#navIcon
    //-   button#navToggleIcon &#9776;
    //- nav.navBar#mainNav
    //-   li
    //-     a(href='/#about') About
    //-   li
    //-     a(href='/portfolio#projects') Main projects
    //-   li
    //-     a(href='/portfolio#justForFun') Just for fun
    //-   li
    //-     a(href='/#contact') Contact
    header
      nav#Navigation
        a.navigation__link(href='#about') About
        a.navigation__link(href='#team') Team
        a.navigation__link(href='#contact') Contact
    h2= 'Portfolio'
    section#navbox.navigation__box
