html
  body
    header
      div#landingPage
        h1.top Madeleine
        h1.bottom Linder
        nav#labels
          a(href='https://github.com/madeleinel' target='_blank') GitHub
          a(href='https://uk.linkedin.com/in/madeleinelinder' target='_blank') LinkedIn
          a(href='https://twitter.com/Muddiqe' target='_blank') Twitter
          a(href='https://medium.com/@madeleinel' target='_blank') Medium
        img(src='/assets/ved3.jpg', alt='Homepage image')
