html
  body
    header
      section#landingPage
        //- include ./../public/ML.svg
        h1 Madeleine Linder
        nav#labels
          a(href='/#about') About
          a(href='/#contact') Contact
          a(href='/portfolio#projects') Main projects
          a(href='/portfolio#justForFun') Just for fun
        img(src='/assets/ved3.jpg', alt='Homepage image')
