html
  body
    header
      div#landingPage
        h1.top Madeleine
        h1.bottom Linder
        nav#labels
          a(href='/#about') About
          a(href='/#contact') Contact
          a(href='/portfolio#projects') Main projects
          a(href='/portfolio#justForFun') Just for fun
        img(src='/assets/ved3.jpg', alt='Homepage image')
