html
  head
    title Madeleine Linder | Home
    style
      include ./../public/stylesheets/reset.css
      include ./../public/stylesheets/style.css
    link(href='https://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet')
  body
    include landingPage.pug
