html
  body
    //- h1 probably do a different styling for the skills section... </br>
    //-    eg something more in line with the styling of this heading
    section.checklists#skillsLists
      div.checklist
        h2 Languages I've worked with
        h4 ES6
        h4 Node.js
        h4 Python
        h4 PostgreSQL
        h4 HTML5/CSS3
      div.checklist
        h2 Middleware I've used
        h4 Express
        h4 Flask
        h4 Sequelizer
        h4 Passport.js
        h4 SASS
      div.checklist
        h2 Tools I find essential
        h4 ZSH
        h4 Git
        h4 BrowserSync
