/*define file*/
/*import stylesheets and scripts*/

/*import header*/
include header.pug

/*import index or portfolio, depending on path*/
if url='/'
  include index.pug
else if (url='/portfolio')
  include portfolio.pug

/*import footer*/
include footer.pug
