/* Define the colours to be used throughout the website */
:root {
  --main_color: #0E0E0E;
  --medi_accent: #f1d8e6;
  --light_accent: #E9E7FD;
  --medium_accent: #FAF1F6; /* pinkish pastel - nice colour; currently on the navbar */
  --dark_accent: #bb4385;
  --another_accent: #C178A0;
  --darkki_accent: #4a1a35;
  --image_frames: #F0ECFA; /* blue pastel - fairly nice colour */
  --light_accent: #E9E7FD;
}

div, section, p {
  border: 1px solid purple;
}

body {
  /*color: purple;*/
  font-family: 'Raleway', sans-serif;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
}

section {
  width: 80vw;
  min-height: 20vh;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
  /*-webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: center;*/
}

h1 {
  font-size: 2em;
  font-family: 'Poiret One', sans-serif;
}

h2 {
  font-size: 3em;
  font-weight: bold;
  font-family: 'Poiret One', sans-serif;
  padding: 1em;

  color: var(--dark_accent);
}

p {
  padding: 1em;
}

.round {
  max-width: 35vw;
  max-height: 35vh;
  border-radius: 50%;
  padding: 1em;
}

.screen {
  max-width: 30vw;*/
  max-height: 30vh;
  padding: 1em;
}

.miniScreen {
  max-width: 20vw;
  max-height: 20vh;
  padding-bottom: 1em;
}

.funExample {
  width: 33%;
  padding: 1em;
}

#landingPage, #landingPage img {
  width: 100vw;
  height: 90vh;
  background: #111;
}

/* Add animation to the svg? Eg, the letters being painted in when opening the page, like in Oli's Codepen example */
svg {
  max-width: 45vw;
  max-height: 45vh;
  position: absolute;
  padding-top: 12vh;

  /*max-width: 50vw;
  max-height: 50vh;
  padding-right: 40vw;
  padding-top: 12vh;*/
}

section {
  margin-bottom: 4em;
}

/* Make the navbar stick to the top of the page when the user scrolls down */
/*#navLinks {*/
.navBar {
  width: 100vw;
  height: 10vh;
  font-size: 1.4em;
  background: var(--medium_accent);
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: space-around;
  -ms-align-items: center;
  align-items: center;

  /*position: fixed;
  top: 0;*/
}

.navBar a {
/*#navLinks a {*/
  color: #111;
}

.navBar a:hover {
/*#navLinks a:hover {*/
  color: var(--dark_accent);
  transition: 0.2s;
}

#navIcon {
  display: none;
}

.rightAligned, .leftAligned, .centerAligned {
  width: 80vw;
  min-height: 40vh;
  flex: 1;  /* Ensure .rightAlign and .leftAlign are of the same width */
  /*padding: 1em;*/
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  /*justify-content: center;*/

  background: var(--image_frames);
  margin: 2rem 0;
  padding: 1rem 0;
  border-radius: 1rem;
}

.rightAligned {
  text-align: right;
  /* order: 1;  /* When on smaller screens > .rightAlign sections should be on top of .leftAlign sections */
}

.leftAligned {
  text-align: left;
  /* order: 2;  /* When on smaller screens > .rightAlign sections should be on top of .leftAlign sections */
}

.centerAligned {
  text-align: center;
}

#about p, #projects p, #justForFun p {
  width: 100%;
  /*margin: 2em 0;*/
}

#icons {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  /*-webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;*/
  -ms-align-items: center;
  align-items: center;    /* Ev change this to flex-start (so align closer to the text) and max-width 15vw to keep the textbox from getting too wide > want it to match with the row below */
  justify-content: space-around;  /* Make the icons within the column spread out so that they take up the same space vertically as the About text next to it */
}

#icons a {
  width: 2.4em;
  height: 2.4em;
  padding: 0.8em;
  margin: 1em 1.5em;
  /*background-color: var(--light_accent));*/
  background-color: #111;
  border-radius: 50%;
  /*margin-bottom: 1em;*/
  border: 1em solid var(--medium_accent);
}

#icons a:hover {;
  border-color: var(--light_accent);
  transition: 0.2s;
}

#icons .icon {
  width: inherit;
  height: inherit;
  margin: 0;
  background-size: cover;
  background-position: center;
}

#email {
  background-image: url('assets/email.png');
}

#github {
  background-image: url('assets/github.png');
}

#linkedin {
  background-image: url('assets/linkedin.png');
}

footer {
  background: var(--medium_accent);
  width: 100vw;
  text-align: center;
}
