/* =============================================================================
========================== Basic elements of the site ==========================
============================================================================= */
body {
  font-family: 'Special Elite', sans-serif;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
  overflow: hidden;
}

/* =============================================================================
================================= Landing page =================================
============================================================================= */
#landingPage, #landingPage img {
  width: 100vw;
  height: 100vh;
  background: #111;
}

#landingPage h1 {
  position: absolute;
  font-size: 4rem;
  font-weight: bold;
  color: #fff;
  background: #111;
  box-shadow: 0.05rem 0.05rem 0.2rem #333;
}

#landingPage .top {
  margin: 12rem 14rem;
  padding: 0.8rem 1.4rem 0.6rem 0.8rem;
}

#landingPage .bottom {
  margin: 18rem 22rem;
  padding: 1.4rem 0.8rem 0 2.2rem;
}

#labels {
  height: 60vh;
  margin: 20vh 0;
  position: absolute;
  right: 0;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}

#labels a {
  color: #000;
  background: #fff;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 0.6rem 0.8rem;
  margin-right: 14vw;
  box-shadow: 0.05rem 0.05rem 0.2rem #555;
}
