div {
  /*border: 1px solid purple;*/
}

body {
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
}

h2 {
  font-family: 'Oleo Script', cursive;
  font-size: 3em;
  color: #b27686;
  text-align: left;
  padding: 0.35em 0;

  /*border: 1px solid purple;*/
}

h3 {
  font-size: 1.5em;
  padding: 1em;
}

.rightAlign h3 {
  text-align: right;
  padding-right: 0;
}

.leftAlign h3 {
  text-align: left;
  padding-left: 0;
}

p {
  line-height: 1.4em;
  margin-bottom: 1em;
  width: 100%;
}

a {
  color: #92626F;
}

a:hover {
  color: #111;
  transition: 0.2s;
}

/* Landing page */
#landingPage {
  height: 100vh;
  width: 100vw;

  background-color: #b27686;
  background-image: url("images/redChalkboard.png");
  /* Chalkboard image downloaded from Foolish Fire: https://www.foolishfire.com/2012/09/11/free-downloadable-chalkboard-backgrounds/ */
  background-size: cover;
  background-position: right;

  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: center;    /* center horizontally */
  -ms-align-items: center;    /* center vertically */
  align-items: center;
  text-align: center;
}

#landingPage svg:hover {
  -webkit-filter: drop-shadow(0 0 0.4rem rgba(255, 255, 255, 0.6));
  transition: 0.2s;
}

/* Basic structure of the page */
main {
  margin-top: 4em;    /* To ensure it starts displaying under the navbar */
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
}

.row {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: center;
  max-width: 80vw;
}

.column {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
}

.section {
  width: 100vw;
  padding: 2em 1em;
  /*background-image: url("images/silhouettes_blue_narrow.jpeg");
  background-size: stretch auto;
  background-position: top;*/

  /*margin: 2em 0;*/
  /*box-shadow: 0em 0em 1em #333;*/
  /*box-shadow: 0 0 1.5em #555;*/
  /*background-color: #bbb;*/
}

.popup {
  padding: 0 0 2em 0;
}

/*.section, .popup {
  box-shadow: 0.2em 0.2em 1em #333;
}

.section {
  z-index: -99;
}

.popup {
  z-index: 99;
}*/

/* Site navbar */
#topNav {
  height: 4em;
  width: 102vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  background-image: url("images/chalkboard.jpg");
  background-size: cover;
  background-position: top;
  box-shadow: 0.2em 0.2em 1em #333;

  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: space-around;
  -ms-align-items: center;
  align-items: center;
}

#topNav li {
  min-width: 6rem;
  text-align: right;
}

#navIcon {
  display: none;
}

#topNav a {
  font-family: 'Poiret One', sans-serif;
  color: #fff;
  font-size: 1.8em;
  font-weight: bold;
}

#topNav a:hover {
  color: #B8CCC1;
  transition: 0.2s;
}

#topNav span {
  font-size: 1.6em;
}

/* Portfolio content */
img {
  height: 35vh;
  /*box-shadow: 0.2em 0.2em 1em #333;*/
  box-shadow: 0 0 1.5em #555;
  margin: 1em;
}

.rightAlign {
  text-align: right;
  padding-right: 2em;
  flex: 1;
  order: 1;
}

.leftAlign {
  text-align: left;
  padding-left: 2em;
  flex: 1;
  order: 2;
}

.popup {
  display: none;
}

.text span, .row span {
  border-radius: 0.5em;
  border: 2px solid #333;
  background-color: #fff;
  box-shadow: 0 0 0.2em #555;
  line-height: 1.4em;
  padding: 0.5em;
  margin: 1em;
  display: inline-block;

  /*background-color: #92626F;*/
  /*background-image: url("images/chalkboard.jpg");*/
  background-position: center;
  background-size: cover;
}

.row span {
  padding: 0.3em 0.5em;
  margin: 1em 0;
}

.row span:hover {
  /*background-image: url("images/redChalkboard.png");*/
  border-color: #92626F;
  transition: 0.2s;
}

.row span a, .row span a:hover {
  color: #111;
}

button {
  border: none;
  font-size: inherit;
  font-family: inherit;
  color: #111;
  background: none;
  outline: none;
  padding: 0;
}

#iconList {
  justify-content: center;
  margin-top: 2em;
}

#iconList a {
  width: 2.4em;
  height: 2.4em;
  padding: 0.8em;
  background-color: #92626F;
  border-radius: 4em;
  margin: 1em 6em 1em 2em;
}

#iconList .icon {
  width: inherit;
  height: inherit;
  margin: 0;
  background-size: cover;
  background-position: center;
}

#iconList a:hover {
  /*background-color: #6E8F88;*/
  background-color: #333;
  transition: 0.2s;
}

#github {
  background-image: url('assets/github.png');
}
#linkedin {
  background-image: url('assets/linkedin.png');
}
#email {
  background-image: url('assets/email.png');
}

/* The footer */
footer {
  width: 102vw;
  padding-top: 0.5em;
  padding-bottom: 0.2em;
  font-family: 'Poiret One', sans-serif;
  font-size: 1.2em;
  text-align: center;
  color: #fff;
  background-image: url("images/chalkboard.jpg");
  background-size: cover;
  background-position: top;
}

footer p {
  margin-bottom: 0;
}
