div, h1, h2, p {
  /*border: 1px solid purple;*/
}

/* ///////// ///////// ///////// ///////// ///////// ///////// /////////
/////////        Style the basic properties of the page        /////////
///////// ///////// ///////// ///////// ///////// ///////// ///////// */

body {
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
}

h1 {
  font-size: 1.8em;
  padding-bottom: 0.5em;
}

h2 {
  font-size: 1.2em;
  padding-bottom: 0.5em;
}

p {
  line-height: 1.2em;
}

/* ///////// ///////// ///////// ///////// ///////// ///////// /////////
///////// /////////        Style the nav bar        ///////// /////////
///////// ///////// ///////// ///////// ///////// ///////// ///////// */

.navBar {
  height: 4em;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #111;
  background-image: url("images/chalkboard.jpg");
  background-size: cover;
  background-position: top;
  box-shadow: 0 0.2em 1em #333;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: space-around;
  -ms-align-items: center;
  align-items: center;
}

.navBar a {
  color: #fff;
  font-family: 'Poiret One', sans-serif;
  font-size: 1.5em;
  font-weight: bold;
}

/*.navBar a:hover {
  color: #B8CCC1;
  transition: 0.2s;
}*/

.navBar span {
  font-size: 1.6em;
}

#navIcon {  /* The dropdown menu toggle button and ML icon > to be hidden on large screens (when the navbar is displayed in full) */
  display: none;
}

#navIcon span {
  border-radius: 50%;
}

/* ///////// ///////// ///////// ///////// ///////// ///////// /////////
///////// Style the structure of the main elements of the page /////////
///////// ///////// ///////// ///////// ///////// ///////// ///////// */

background {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -99;
  background-color: #92626F;
  background-image: url("images/redChalkboard.png");
  background-size: cover;
}

main {
  margin-top: 4em;    /* To ensure that the main section starts displaying under the navbar */
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
}

.section {
  width: 100vw;
  background-color: #fff;
  padding: 4vh 0;
}

.section:first-of-type {
  padding-top: 8vh;  /* Insert more padding between the top section and the navbar, to make the page feel less crowded */
}

.section:not(:last-child) {
  margin-bottom: 20vh;  /* Create a gap between each section (but not between the last section and the footer) wherein the fixed background image will be visible */
}

.section:last-child {
  padding-bottom: 8vh;  /* Insert more padding between the last section and the footer, to make the page feel less crowded */
}

.row {
  width: 80vw;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: center;
}

.column {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
}

.rightAlign, .leftAlign, .centerAlign {
  flex: 1;  /* Ensure .rightAlign and .leftAlign are of the same width */
  padding: 1em;
}

.rightAlign {
  text-align: right;
  /* order: 1;  /* When on smaller screens > .rightAlign sections should be on top of .leftAlign sections */
}

.leftAlign {
  text-align: left;
  /* order: 2;  /* When on smaller screens > .rightAlign sections should be on top of .leftAlign sections */
}

.centerAlign {
  text-align: center;
}

#roundImg {
  max-width: 20vw;
}

#iconColumn {
  max-width: 10vw;
  -ms-align-items: center;
  align-items: center;
  /* Ev change this to flex-start (so align closer to the text) and max-width 15vw to keep the textbox from getting too wide > want it to match with the row below */
}

.popup {
  display: none;
}

/* ///////// ///////// ///////// ///////// ///////// ///////// /////////
/////////          Style the look of the page elements          /////////
///////// ///////// ///////// ///////// ///////// ///////// ///////// */

img {
  max-width: 100%;
  max-height: 40vh;
  box-shadow: 0 0 1em #555;
}

#roundImg img {
  border-radius: 50%;
}

/* //////// //////// The About page contact icons //////// //////// */

#iconColumn a {
  width: 2.4em;
  height: 2.4em;
  padding: 0.8em;
  background-color: #111;
  border-radius: 50%;

  margin-bottom: 1em;  /* Ev change to 1em top and bottom when remove borders and add text */
}

#iconColumn a:hover {
  background-color: #6E8F88;
  transition: 0.2s;
}

#iconColumn .icon {
  width: inherit;
  height: inherit;
  margin: 0;
  background-size: cover;
  background-position: center;
}

#github {
  background-image: url('assets/github.png');
}
#linkedin {
  background-image: url('assets/linkedin.png');
}
#email {
  background-image: url('assets/email.png');
}

/* //////// ////////  The About page skills buttons  //////// //////// */

.centerAlign {

}

.centerAlign span {
  display: inline-block;
  border: 2px solid #111;
  padding: 0.3em 0.5em;
  border-radius: 0.4em;

  margin: 1em;  /* Ev update spacing when remove the working borders */
}

/* ////////    The Portfolio page work example preview section    //////// */

.preview .leftAlign {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: space-between;  /* Make the preview text take up the same height as the preview image, with the text content spread evenly vertically */
}

/* ////////        The Portfolio page work example links        //////// */

.iconRow a {
  color: #111;
}

.iconRow span {
  border: 2px solid #111;
  padding: 0.3em 0.5em;
  border-radius: 0.4em;
  line-height: 1.5em;  /* Specify line height to ensure that the link is vertically centered within the span borders */

  margin: 1em;  /* Ev update spacing when remove the working borders */
}

button {
  border: none;
  background: none;
  outline: none;
  font-size: inherit;
  font-family: inherit;
}

/* ///////// ///////// ///////// ///////// ///////// ///////// /////////
///////// /////////      Style the page footer      ///////// /////////
///////// ///////// ///////// ///////// ///////// ///////// ///////// */

footer {
  width: 100vw;
  padding: 0.5em;
  text-align: center;
  color: #fff;
  background-image: url("images/chalkboard.jpg");
  background-size: cover;
  background-position: top;
}
