div {
  border: 1px solid purple;
}

span {
  border: 1px solid orange;
}

/* ///////// ///////// ///////// ///////// ///////// ///////// /////////
/////////        Style the basic properties of the page        /////////
///////// ///////// ///////// ///////// ///////// ///////// ///////// */

body {
  font-family: 'Raleway', sans-serif;
}

/* ///////// ///////// ///////// ///////// ///////// ///////// /////////
///////// /////////        Style the nav bar        ///////// /////////
///////// ///////// ///////// ///////// ///////// ///////// ///////// */

#topNav {
  height: 4em;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #111;
  background-image: url("images/chalkboard.jpg");
  background-size: cover;
  background-position: top;
  box-shadow: 0 0.2em 1em #333;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: space-around;
  -ms-align-items: center;
  align-items: center;
}

#topNav a {
  color: #fff;
  font-family: 'Poiret One', sans-serif;
  font-size: 1.5em;
  font-weight: bold;
}

#topNav span {
  font-size: 1.6em;
}

#navIcon {  /* The dropdown menu toggle button and ML icon > to be hidden on large screens (when the navbar is displayed in full) */
  display: none;
}

#navIcon span {
  border-radius: 50%;
}

/* ///////// ///////// ///////// ///////// ///////// ///////// /////////
///////// Style the structure of the main elements of the page /////////
///////// ///////// ///////// ///////// ///////// ///////// ///////// */

background {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -99;
  background-color: #92626F;
  background-image: url("images/redChalkboard.png");
  background-size: cover;
}

main {
  margin-top: 4em;    /* To ensure that the main section starts displaying under the navbar */
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
}

.section {
  width: 100vw;
  background-color: #fff;
}

.section:not(:last-child) {
  margin-bottom: 20vh;
}

.row {
  width: 80vw;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: center;
}

.column {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
}

.rightAlign, .leftAlign {
  flex: 1;  /* Ensure .rightAlign and .leftAlign are of the same width */
  padding: 1em;
}

.rightAlign {
  text-align: right;
  margin-right: 1em;
  /* order: 1;  /* When on smaller screens > .rightAlign sections should be on top of .leftAlign sections */
}

.leftAlign {
  text-align: left;
  margin-left: 1em;
  /* order: 2;  /* When on smaller screens > .rightAlign sections should be on top of .leftAlign sections */
}

.popup {
  /*display: none;*/
}

/* ///////// ///////// ///////// ///////// ///////// ///////// /////////
/////////          Style the look of the page elements          /////////
///////// ///////// ///////// ///////// ///////// ///////// ///////// */

img {
  height: 30vh;
  box-shadow: 0 0 1em #555;
}

span {
}

/* //////// //////// The About page contact icons //////// //////// */

#iconColumn {
  /*justify-content: center;*/  /* ev necessary when add more text to the textbox next to it */
}

#iconColumn a {
  width: 2.4em;
  height: 2.4em;
  padding: 0.8em;
  background-color: #111;
  border-radius: 4em;
  margin: 1em 6em 1em 2em;
}

#iconColumn a:hover {
  background-color: #6E8F88;
  transition: 0.2s;
}

#iconColumn .icon {
  width: inherit;
  height: inherit;
  margin: 0;
  background-size: cover;
  background-position: center;
}

#github {
  background-image: url('assets/github.png');
}
#linkedin {
  background-image: url('assets/linkedin.png');
}
#email {
  background-image: url('assets/email.png');
}

/* //////// ////////  The About page skills buttons  //////// //////// */

.centerAlign {

}

.centerAlign span {
  border: 2px solid #111;
  padding: 0.3em 0.5em;
  border-radius: 0.4em;
}

/* ////////        The Portfolio page work example links        //////// */

#iconRow {

}

#iconRow span {
  border: 2px solid #111;
  padding: 0.3em 0.5em;
  border-radius: 0.4em;
}

button {
  border: none;
  background: none;
  outline: none;
  font-size: inherit;
  font-family: inherit;
}

/* ///////// ///////// ///////// ///////// ///////// ///////// /////////
///////// /////////      Style the page footer      ///////// /////////
///////// ///////// ///////// ///////// ///////// ///////// ///////// */

footer {
  width: 100vw;
  padding: 0.5em;
  text-align: center;
  color: #fff;
  background-image: url("images/chalkboard.jpg");
  background-size: cover;
  background-position: top;
}
