h2 {
  /*font-family: 'Oleo Script', cursive;*/
  font-size: 2em;
  color: #b27686;
  text-align: left;
  /*padding: 0.5em 0;*/

  /*border: 1px solid purple;*/
}

h3 {
  font-size: 1.2em;
  padding: 1em;
}

.rightAlign h3 {
  text-align: right;
  padding-right: 0;
}

.leftAlign h3 {
  text-align: left;
  padding-left: 0;
}

p {
  /*font-size: 0.9em;*/
  line-height: 1.4em;
  margin-bottom: 1em;
  width: 100%;
}

a {
  color: #92626F;
}

a:hover {
  color: #111;
  transition: 0.2s;
}

/* Basic structure of the page */
main {
}

.row {
  max-width: 80vw;
}

.column {
}

.section {
  padding: 2em 1em;
  /*background-image: url("images/silhouettes_blue_narrow.jpeg");
  background-size: stretch auto;
  background-position: top;*/

  /*margin: 2em 0;*/
  /*box-shadow: 0em 0em 1em #333;*/
  /*box-shadow: 0 0 1.5em #555;*/
  /*background-color: #bbb;*/
}

.popup {
  padding: 0 0 2em 0;
}

/*.section, .popup {
  box-shadow: 0.2em 0.2em 1em #333;
}

.section {
  z-index: -99;
}

.popup {
  z-index: 99;
}*/

/* Site navbar */
#topNav {
  width: 102vw;
  box-shadow: -0.4em 0.2em 1em #333;
}

#topNav li {
  min-width: 6rem;
  text-align: right;
}

#topNav a {
  font-size: 1.8em;
}

#topNav a:hover {
  color: #B8CCC1;
  transition: 0.2s;
}

#topNav span {
  font-size: 1.6em;
}

/*#landingPage svg {
  border: 1px solid yellow;
  border-radius: 50%;
}

#landingPage svg:hover {
  -webkit-filter: drop-shadow(0 0 0.4rem rgba(255, 255, 255, 0.6));
  transition: 0.2s;
}*/

/* Portfolio content */
img {
  max-height: 35vh;
  /*max-width: 35vw;*/
  /*box-shadow: 0.2em 0.2em 1em #333;*/
  box-shadow: 0 0 1.5em #555;
  /*margin: 1em;*/
}

.rightAlign {
  /*padding-right: 2em;*/
  padding: 1em 3em 1em 1em;
  }

.leftAlign {
  /*padding-left: 2em;*/
  padding: 1em 1em 1em 3em;
}

.text span, .row span {
  background-color: #fff;
  box-shadow: 0 0 0.2em #555;
  line-height: 1.4em;
  margin-right: 1em;
  /*background-color: #92626F;*/
  /*background-image: url("images/chalkboard.jpg");*/
  background-position: center;
  background-size: cover;
}

.row span:hover {
  /*background-image: url("images/redChalkboard.png");*/
  border-color: #92626F;
  transition: 0.2s;
}

.row span a, .row span a:hover {
  color: #111;
}

button {
  color: #111;
  padding: 0;
}

#iconRow {
  justify-content: flex-start;
  flex-wrap: wrap;
}

#iconList {
  margin-top: 2em;
}

#iconList a:hover {
  background-color: #92626F;  /* pink */
  background-color: #6E8F88;  /* green */
  background-color: #333;
}



/* The footer */
footer {
  width: 102vw;
  padding-top: 0.5em;
  padding-bottom: 0.2em;
  font-family: 'Poiret One', sans-serif;
  font-size: 1.2em;
}

footer p {
  margin-bottom: 0;
}
