div {
  /*border: solid 1px purple;*/
}

h2 span {
  vertical-align: text-top;
  margin: 0 0.5em;
}

h3 {
  font-size: 2em;
  text-align: center;
  padding-bottom: 1em;
  width: 100%;
}

.text a {
  /*color: #92626F;*/
}

.text a:hover {
  /*color: #6E8F88;*/
  color: #92626F;
  transition: 0.2s;
}

/* Landing page */
#landingPage {
  background-color: #b27686;
  /*background-image: url('images/landingPage.jpg');*/
  background-image: url("images/chalkboard.jpg");
  /* Chalkboard image downloaded from Foolish Fire: https://www.foolishfire.com/2012/09/11/free-downloadable-chalkboard-backgrounds/ */
  background-size: cover;
  background-position: right;
  background-blend-mode: difference;
}


/* Basic structure of the page */
main {
  /*
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;*/

  min-height: 87vh;
}

#leftSidebar {
  order: 1;
  flex: 1;
}

#rightSidebar {
  order: 3;
  flex: 1;
}

#mainColumn {
  order: 2;
  flex: 5;

  /*display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;*/
}

/* Site navbar */
#topNav {
  /*background-color: #b27686;
  background-image: url('images/landingPage.jpg');
  background-size: cover;
  background-position: top;
  background-blend-mode: difference;*/

  /*background-color: #334a56;*/
}

/* Main section content */
.section {
  padding: 3em 0;
}

/* Portfolio content */

.text {
  width: 75vw;
  text-align: center;
  padding: 3em 1em;
}

.text.about {
  width: 62vw;
}

.textColumn {
  flex: 1;
  margin-bottom: 1em;
}

.text span, .column span, .textColumn span {
  /*border: 0.2em solid #92626F;*/
}

.text a span {
  margin: 0 -0.4em;
}

.textColumn span a {
  color: #fff;
}

.text a span:hover {
  border-color: #6E8F88;
}

.text em {
  color: #92626F;
  font-weight: bold;
}

button {
   /*-webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;*/
}

#twitter {
  background-image: url('assets/twitter.png');
}

/* The footer */
footer {
  /*height: 1em;*/
  /*background-color: #b27686;
  background-image: url('images/landingPage.jpg');
  background-position: bottom;
  background-blend-mode: difference;*/
}
