/* To make the site look good on smaller screens (<950px, <750px and <450px) */

@media screen and (max-width: 950px){
  /*main {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow-x: hidden;
  }*/
  .text, .text.about {
    width: 85%;
  }
  /*.leftAlign, .rightAlign, .leftAlign h3, .rightAlign h3, .leftAlign h4, .rightAlign h4 {
    padding-left: 0;
    padding-right: 0;
  }*/
}

@media screen and (max-width: 750px){
  h1 {
    font-size: 4em;
  }
  img {
    max-width: 92vw;
    height: auto;
    max-height: 35vh;
  }
  /*#topNav {
    background-size: 162vw auto;
  }*/
  /*#topNav a.navLink {
    display: none;
  }*/


  /* The dropdown menu: */
  /*#topNav_responsive {*/
  .responsive {
    /*width: 102vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-image: url("images/chalkboard.jpg");
    background-position: top;*/
    /*background-color: #b27686;
    background-image: url('images/landingPage.jpg');
    background-blend-mode: difference;
    background-size: 162vw auto;*/
    /*box-shadow: 0.2em 0.2em 1em #333;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;*/
  }

}

@media screen and (max-width: 450px) {
  h1 {
    font-size: 3em;
    padding: 1rem;
  }
  #landingPage {
    overflow: hidden;
  }
}
