/* To make the site look good on smaller screens (<950px, <750px and <450px) */

@media screen and (max-width: 1100px){
  em {
    /* Keep the background colour from overlapping nearby text when the paragraph is spread over more than one line */
    padding: 0.2em;
  }
}

@media screen and (max-width: 950px){
  img {
    min-height: 25vh;  /* Ensures that when the screen is 750-950px wide > the work example screenshot will remain the same height, but be slightly squished width-wise > ev change this */
  }
  #roundImg img {
    min-height: 15vh;
  }
}

@media screen and (max-width: 750px){
  /* Update the page structure to fit smaller screens */
  .row {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
  }
  .rightAlign, .leftAlign {
    text-align: center;
  }
  img {
    max-height: 25vh;
  }
  #iconColumn {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    justify-content: center;
    width: 80vw;
    /*min-width: 80vw;
    max-width: 90vw;*/
  }
  #iconColumn a {
    margin: 0 1em;
  }
  #roundImg {
    max-width: 80vw;
  }
}

@media screen and (max-width: 550px){
  /* Switch to dropdown navbar */
  .navBar {
    background-size: 162vw auto;
  }
  .navBar a.navLink {
    display: none;  /* Hide the link items from the full-size navbar */*/
  }
  /* Display the minimised-navbar icons (for toggling menu and returning to landing page) */
  #navIcon {
    /*display: block;*/
    width: 100vw;
    font-size: 2em;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    justify-content: space-between;
  }
  #navIcon button {
    color: #fff;
    padding: 0 6vw;
    /* To remove default button styling on phone devices:
    >> already done in reset.css */
    /*border: none;
    outline: none;
    background-color: inherit;*/
  }
  #navIcon a {
    display: inline-block;
    color: #fff;
    font-family: 'Poiret One', sans-serif;
    padding: 0.5em 6vw;
  }
  #navIcon a span {
    border: 2px solid #fff;
    /*padding: 0.1em;*/  /* Ideal padding for square border */
    padding: 0.2em;  /* Ideal padding (up to 0.3em) for round border */
    border-radius: 50%;
  }
  /* Style the dropdown navbar > only visible when have clicked on the menu toogle icon to show the dropdown menubar */
  .responsive {
    padding-top: 5em;
    background-size: 162vw auto;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: flex-end;
  }
  .responsive li:nth-child(2) {
    display: none;  /* Don't display the middle item of the full-size navbar ("Madeleine Linder") */
  }
  .responsive li {
    width: 100vw;
  }
  .responsive a.navLink {
    display: block;  /* Display the navbar link items within the dropdown menu */
    width: inherit;
    text-align: center;
    padding: 0 0 2vh 0;
  }
  /*.responsive a:hover {
    color: #B8CCC1;
    transition: 0.2s;
  }*/
  .row {
    width: 90vw;
  }
  #iconColumn {
    min-width: 90vw;
  }
}

@media screen and (max-width: 450px) {
  .responsive {
    padding-top: 4em;
  }
  .iconRow a, .iconRow button {
    font-size: 0.9em;
  }
  .iconRow span {
    margin: 0.2em;
  }
  .row {
    width: 95vw;
  }
  #iconColumn a {
    margin: 0 0.5em;
  }
  /* Make About contact icons round on smaller screens */
}
